.p-profile{
    /* background: url(My_pic.); */
    background-image: url(/My_pic.jpg);
    width: 40%;
    height: 400px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}