<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <span>Coder</span>
                <h1>Rishav</h1>
                <img src="/My_pic.jpg" alt="hghg">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque nulla molestiae, adipisci
                    obcaecati officiis exercitationem ea voluptas, eos impedit fugiat placeat. Porro tempora nemo
                    ducimus officia reiciendis natus, blanditiis aut!</p>
            </div>
        </div>
    </div>
</section>